body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1a1a1a;
    color:white;
}
input, button {
    margin: 10px 0;
    padding: 10px;
    width: 260px;
}
button {
    background-color: #f09401;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    color: #f09401;
}