@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1a1a1a;
    color:white;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('static/images/bgd_logo_signup.jpg');
    background-size: cover;
    background-position: center;
}
input, button {
    margin: 10px 0;
    padding: 10px;
    width: 260px;
}
button {
    background-color: #f09401;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    color: #f09401;
}